// SPDX-License-Identifier: MIT
// Copyright ©2020 Cosmos Creator Group

$html-line-height: 1.15;
$webkit-text-size-adjust: 100%;
$webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);

$body-color: #c2c2c2;
$body-background-color: #121212;
$navbar-background-color: #000000;

$font-stack: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
